<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserCreateDlg" widgetVar="UserCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUserTitle}">
            <h:form id="UserCreateForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUserLabel_image}" for="image" />
                        <p:fileUpload id="image" value="#{userController.file}" mode="simple" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_family}" for="family" />
                        <p:inputText id="family" value="#{userController.selected.family}" title="#{bundle.CreateUserTitle_family}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_name}" for="name" />
                        <p:inputText id="name" value="#{userController.selected.name}" title="#{bundle.CreateUserTitle_name}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_phone}" for="phone" />
                        <p:inputText id="phone" value="#{userController.selected.phone}" title="#{bundle.CreateUserTitle_phone}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_email}" for="email" />
                        <p:inputText id="email" value="#{userController.selected.email}" title="#{bundle.CreateUserTitle_email}" />
                        <p:outputLabel value="Password" for="plainPassword" />
                        <p:inputText id="plainPassword" value="#{userController.selected.plainPassword}" title="#{bundle.CreateUserTitle_plainPassword}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_mobile}" for="mobile" />
                        <p:inputText id="mobile" value="#{userController.selected.mobile}" title="#{bundle.CreateUserTitle_mobile}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.create}" ajax="false" value="#{bundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(args,'UserCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PF('UserCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
