<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserEditDlg" widgetVar="UserEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUserTitle}">
            <h:form id="UserEditForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUserLabel_image}" for="image" />
                        <p:fileUpload id="image" value="#{userController.file}" mode="simple" />
                        <p:outputLabel value="#{bundle.EditUserLabel_family}" for="family" />
                        <p:inputText id="family" value="#{userController.selected.family}" title="#{bundle.EditUserTitle_family}" />
                        <p:outputLabel value="#{bundle.EditUserLabel_name}" for="name" />
                        <p:inputText id="name" value="#{userController.selected.name}" title="#{bundle.EditUserTitle_name}" />

                       
                        <p:outputLabel value="#{bundle.EditUserLabel_phone}" for="phone" />
                        <p:inputText id="phone" value="#{userController.selected.phone}" title="#{bundle.EditUserTitle_phone}" />
                        <p:outputLabel value="#{bundle.EditUserLabel_email}" for="email" />
                        <p:inputText id="email" value="#{userController.selected.email}" title="#{bundle.EditUserTitle_email}" />
                        <p:outputLabel value="Password" for="plainPassword" />
                        <p:inputText id="plainPassword" value="#{userController.selected.plainPassword}" title="#{bundle.EditUserTitle_plainPassword}" />
                        <p:outputLabel value="#{bundle.EditUserLabel_mobile}" for="mobile" />
                        <p:inputText id="mobile" value="#{userController.selected.mobile}" title="#{bundle.EditUserTitle_mobile}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.update}" ajax="false" value="#{bundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UserEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PF('UserEditDialog').hide()" type="button"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
