<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:adm="http://github.com/adminfaces"
      >

  <ui:composition template="#{layoutMB.layout}">
       
        <ui:define name="head-end">
            <style type="text/css">
                .ui-datatable .ui-datatable-header {
                    text-align: right !important;
                }

            </style>
        </ui:define>
        <ui:define name="title">
            Users listing
        </ui:define>

        <ui:define name="description">
            List all Users and create or edit
        </ui:define>
      
        <ui:define name="body">
            <p:growl id="growl" life="3000" />
            <adm:breadcrumb title="Users list"/>
            <div class="box box-primary">
                <div class="box-header with-border">
                    
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        
                        <p:commandButton id="createButton" icon="fa fa-plus"   value="New" 
                                         actionListener="#{userController.prepareCreate}"
                                         update=":UserCreateForm" 
                                         oncomplete="PF('UserCreateDialog').show()"
                                         styleClass="btn btn-primary"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="viewButton"   icon="fa fa-search"
                                         value="#{bundle.View}" 
                                         
                                         update=":UserViewForm" oncomplete="PF('UserViewDialog').show()" 
                                         disabled="#{empty userController.selected}"
                                         styleClass="btn btn-info"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="editButton"   icon="fa fa-pencil"
                                         value="#{bundle.Edit}" update=":UserEditForm"
                                         oncomplete="PF('UserEditDialog').show()" 
                                         disabled="#{empty userController.selected}"
                                         styleClass="btn btn-success"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="deleteButton" icon="fa fa-trash"  
                                         value="#{bundle.Delete}" actionListener="#{userController.destroy}"
                                         update=":UserListForm:datalist" disabled="#{empty userController.selected}"
                                         styleClass="btn btn-danger">
                        </p:commandButton>
                                            
                    </div>
            <h:form id="UserListForm">
                <p:panel header="#{bundle.ListUserTitle}" >
                    <p:dataTable id="datalist" value="#{userController.items}" var="item"
                                 selectionMode="single" selection="#{userController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update=":createButton :viewButton :editButton :deleteButton"/>
                        <p:ajax event="rowUnselect" update=":createButton :viewButton :editButton :deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserTitle_image}"/>
                            </f:facet>
                            <h:graphicImage rendered="#{item.image!=null and !item.image.isEmpty()}" value="/media/profile/#{item.image}" alt="Test" height="110" width="110"/>
                            <p:outputLabel value="ندارد" rendered="#{item.image.isEmpty()}"/>
                        </p:column>
                        <p:column filterBy="#{item.family}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserTitle_family}"/>
                            </f:facet>
                            <h:outputText value="#{item.family}"/>
                        </p:column>
                        <p:column filterBy="#{item.name}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column filterBy="#{item.phone}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserTitle_phone}"/>
                            </f:facet>
                            <h:outputText value="#{item.phone}"/>
                        </p:column>
                        <p:column filterBy="#{item.email}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <p:column filterBy="#{item.mobile}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserTitle_mobile}"/>
                            </f:facet>
                            <h:outputText value="#{item.mobile}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{userController.prepareCreate}" update=":UserCreateForm" oncomplete="PF('UserCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":UserViewForm" oncomplete="PF('UserViewDialog').show()" disabled="#{empty userController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":UserEditForm" oncomplete="PF('UserEditDialog').show()" disabled="#{empty userController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{userController.destroy}" update=":growl,datalist" disabled="#{empty userController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
