<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserViewDlg" widgetVar="UserViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserTitle}">
            <h:form id="UserViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <h:outputText value="#{bundle.ViewUserLabel_image}"/>
                        <h:graphicImage value="/media/profile/#{userController.selected.image}" rendered="#{userController.selected.image!=null and !userController.selected.image.isEmpty()}" width="150" height="150" title="#{bundle.ViewUserTitle_image}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_family}"/>
                        <h:outputText value="#{userController.selected.family}" title="#{bundle.ViewUserTitle_family}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_name}"/>
                        <h:outputText value="#{userController.selected.name}" title="#{bundle.ViewUserTitle_name}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_phone}"/>
                        <h:outputText value="#{userController.selected.phone}" title="#{bundle.ViewUserTitle_phone}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_email}"/>
                        <h:outputText value="#{userController.selected.email}" title="#{bundle.ViewUserTitle_email}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_mobile}"/>
                        <h:outputText value="#{userController.selected.mobile}" title="#{bundle.ViewUserTitle_mobile}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_createdAt}"/>
                        <h:outputText value="#{userController.selected.createdAt}" title="#{bundle.ViewUserTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserLabel_updatedAt}"/>
                        <h:outputText value="#{userController.selected.updatedAt}" title="#{bundle.ViewUserTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserLabel_id}"/>
                        <h:outputText value="#{userController.selected.id}" title="#{bundle.ViewUserTitle_id}"/>
                        <h:outputLabel value="Address" />
                        <ui:repeat value="#{userController.selected.address.toArray()}" var="item">
                            <span >#{item.address} ,</span><br/>
                        </ui:repeat>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PF('UserViewDialog').hide()" type="button"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
