<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RateCreateDlg" widgetVar="RateCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRateTitle}">
            <h:form id="RateCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rateController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRateLabel_question}" for="question" />
                        <p:inputText id="question" value="#{rateController.selected.question}" title="#{bundle.CreateRateTitle_question}" />
                        <p:outputLabel value="#{bundle.CreateRateLabel_rate}" for="rate" />
                        <p:inputText id="rate" value="#{rateController.selected.rate}" title="#{bundle.CreateRateTitle_rate}" />
                        <p:outputLabel value="#{bundle.CreateRateLabel_comment}" for="comment" />
                        <p:inputText id="comment" value="#{rateController.selected.comment}" title="#{bundle.CreateRateTitle_comment}" />
                        <p:outputLabel value="#{bundle.CreateRateLabel_serviceProvider}" for="serviceProvider" />
                        <p:inputText id="serviceProvider" value="#{rateController.selected.serviceProvider}" title="#{bundle.CreateRateTitle_serviceProvider}" />
                        <p:outputLabel value="#{bundle.CreateRateLabel_serviceReciever}" for="serviceReciever" />
                        <p:inputText id="serviceReciever" value="#{rateController.selected.serviceReciever}" title="#{bundle.CreateRateTitle_serviceReciever}" />
                        <p:outputLabel value="#{bundle.CreateRateLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{rateController.selected.createdAt}" title="#{bundle.EditRateTitle_createdAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateRateLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{rateController.selected.updatedAt}" title="#{bundle.EditRateTitle_updatedAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateRateLabel_id}" for="id" />
                        <p:inputText id="id" value="#{rateController.selected.id}" title="#{bundle.CreateRateTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateRateLabel_deleted}" for="deleted" />
                        <p:inputText id="deleted" value="#{rateController.selected.deleted}" title="#{bundle.CreateRateTitle_deleted}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rateController.create}" value="#{bundle.Save}" update="display,:RateListForm:datalist,:growl" oncomplete="handleSubmit(args,'RateCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RateCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
