<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RateViewDlg" widgetVar="RateViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRateTitle}">
            <h:form id="RateViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rateController.selected != null}">
                        <h:outputText value="#{bundle.ViewRateLabel_question}"/>
                        <h:outputText value="#{rateController.selected.question}" title="#{bundle.ViewRateTitle_question}"/>
                        <h:outputText value="#{bundle.ViewRateLabel_rate}"/>
                        <h:outputText value="#{rateController.selected.rate}" title="#{bundle.ViewRateTitle_rate}"/>
                        <h:outputText value="#{bundle.ViewRateLabel_comment}"/>
                        <h:outputText value="#{rateController.selected.comment}" title="#{bundle.ViewRateTitle_comment}"/>
                        <h:outputText value="#{bundle.ViewRateLabel_serviceProvider}"/>
                        <h:outputText value="#{rateController.selected.serviceProvider}" title="#{bundle.ViewRateTitle_serviceProvider}"/>
                        <h:outputText value="#{bundle.ViewRateLabel_serviceReciever}"/>
                        <h:outputText value="#{rateController.selected.serviceReciever}" title="#{bundle.ViewRateTitle_serviceReciever}"/>
                        <h:outputText value="#{bundle.ViewRateLabel_createdAt}"/>
                        <h:outputText value="#{rateController.selected.createdAt}" title="#{bundle.ViewRateTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewRateLabel_updatedAt}"/>
                        <h:outputText value="#{rateController.selected.updatedAt}" title="#{bundle.ViewRateTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewRateLabel_id}"/>
                        <h:outputText value="#{rateController.selected.id}" title="#{bundle.ViewRateTitle_id}"/>
                        <h:outputText value="#{bundle.ViewRateLabel_deleted}"/>
                        <h:outputText value="#{rateController.selected.deleted}" title="#{bundle.ViewRateTitle_deleted}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RateViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
