<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">

    <ui:composition>

        <p:dialog id="ServicesCreateDlg" widgetVar="ServicesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateServicesTitle}">
            <h:form id="ServicesCreateForm" >
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{servicesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateServicesLabel_desc}" for="desc" />
                        <p:inputTextarea rows="4" cols="30" id="desc" value="#{servicesController.selected.desc}" title="#{bundle.CreateServicesTitle_desc}" />
                        <p:outputLabel value="#{bundle.CreateServicesLabel_file}" for="file" />
                        <p:commandButton id="file" value="مدارک" oncomplete="PF('cropperimagedialog').show()" />
                        <p:panelGrid id="showpic" columns="2" >
                            <p:outputLabel rendered="#{servicesController.fileName!= ''}" value="عکس پروفایل" />
                            <p:graphicImage rendered="#{servicesController.fileName!= ''}" value="/media/services/#{servicesController.fileName}" />
                        </p:panelGrid>
                        <p:outputLabel value="" />
                        <p:outputLabel value="وضعیت" for="active" />
                        <p:selectOneMenu id="active" value="#{servicesController.selected.active}">
                            <f:selectItem  itemValue="true" itemLabel="فعال" />
                            <f:selectItem  itemValue="false" itemLabel="غیر فعال" />
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateServicesLabel_title}" for="title" />
                        <p:inputText id="title" value="#{servicesController.selected.title}" title="#{bundle.CreateServicesTitle_title}" />
                        <p:outputLabel value="#{bundle.CreateServicesLabel_price}" for="price" />
                        <p:inputText id="price" value="#{servicesController.selected.price}" title="#{bundle.CreateServicesTitle_price}" />
                        <p:outputLabel for="tags" value="بر چسب ها" />
                        <p:inputText id="tags" value="#{servicesController.selected.tags}" />
                        <p:outputLabel value="#{bundle.CreateServicesLabel_ctgId}" for="ctg" />
                        <p:selectOneMenu id="ctg" value="#{servicesController.selected.ctg}" >
                            <f:selectItems value="#{ctgServicesController.itemsAvailableSelectOne}"
                                           var="ctgIdItem"
                                           itemLabel="#{ctgIdItem.title}"
                                           itemValue="#{ctgIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="کاربر" for="user" />
                        <p:selectOneMenu id="user" value="#{servicesController.selected.user}" >
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userItem"
                                           itemLabel="#{userItem.name} #{userItem.family} #{userItem.mobile}"
                                           itemValue="#{userItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:panelGrid columns="2">
                        <p:panelGrid columns="2">
                            <p:outputLabel value="تصاویر اسلایدر" />
                            <h:form>
                                <p:fileUpload fileUploadListener="#{servicesController.handlFileUploadSlider}" mode="advanced" dragDropSupport="false"
                                              multiple="true" update="messages" sizeLimit="100000" fileLimit="3" uploadLabel="آپلود تصاویر" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                <p:growl id="messages" showDetail="true" />
                            </h:form>
                        </p:panelGrid>
                        <p:panelGrid columns="2">
                            <p:outputLabel value="اسکن گواهینامه ها" />
                            <h:form>
                                <p:fileUpload fileUploadListener="#{servicesController.handlFileUploadCertificate}" mode="advanced" dragDropSupport="false"
                                              multiple="true" update="messages" sizeLimit="100000" fileLimit="3" uploadLabel="آپلود تصاویر" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                <p:growl id="messages" showDetail="true" />
                            </h:form>
                        </p:panelGrid>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{servicesController.create}" value="#{bundle.Save}" update="display,:tabview:ServicesActiveListForm:datalist,:growl,:tabview:ServicesDisableListForm:datalist" oncomplete="handleSubmit(args,'ServicesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" actionListener="#{servicesController.cancel}" oncomplete="PF('ServicesCreateDialog').hide()" />
                </h:panelGroup>
            </h:form>
        </p:dialog>

        <p:dialog  maximizable="true" fitViewport="true" responsive="true" id="cropperimagedlg" widgetVar="cropperimagedialog" modal="true" resizable="true" appendTo="@(body)" header="ویرایش عکس">
            <h:form id="formcrop" enctype="multipart/form-data">
                <b:panel col-lg="12" col-md="12"  >
                    <p:panelGrid>
                        <p:outputLabel value="#{bundle.CreateServicesLabel_file}" for="file" />
                        <p:fileUpload id="file" fileUploadListener="#{servicesController.handlFile}" mode="advanced" multiple="false" update="formcrop:cropperPanel"/>
                    </p:panelGrid>
                    <b:panel col-lg="12" col-md="12"  id="shows" >
                        <b:thumbnail col-lg="2" col-md="3" col-sm="4" col-xs="6" rendered="#{not empty servicesController.selected.file}">
                            <p:graphicImage rendered="#{not empty servicesController.selected.file}" value="/media/services/thumb#{servicesController.selected.file}" />
                            <f:facet name="caption">
                                <h3>تصویر سرویس</h3>
                                <p>
                                    <p:commandButton update="@form" styleClass="btn btn-danger" icon="fa fa-2x fa-trash" action="#{servicesController.removeSelectedImage()}" >
                                            <p:confirm message="آیا از حذف عکس اطمینان دارید؟" icon="ui-icon-alert"></p:confirm>
                                        </p:commandButton>
                                    </p>
                            </f:facet>
                        </b:thumbnail>
                        <ui:repeat value="#{servicesController.documents}" var="items">
                            <b:thumbnail col-lg="2" col-md="3" col-sm="4" col-xs="6">
                                <p:graphicImage value="/media/#{servicesController.getThumbDocuments(items.type, items.file)}" />
                                <f:facet name="caption">
                                    <h3>#{servicesController.getTypes(items.type)}</h3>
                                    <p>
                                        <p:commandButton update="@form" styleClass="btn btn-danger" icon="fa fa-2x fa-trash" action="#{servicesController.removeImage(items)}" >
                                            <p:confirm message="آیا از حذف عکس اطمینان دارید؟" icon="ui-icon-alert"></p:confirm>
                                        </p:commandButton>
                                    </p>
                                </f:facet>
                            </b:thumbnail>

                        </ui:repeat>
                    </b:panel>
                    <p:panelGrid id="cropperPanel" columns="2" >
                        <p:panelGrid rendered="#{servicesController.fileName != ''}" columns="2">
                            <p:outputLabel value="cropper" />
                            <p:imageCropper id="cropper" value="#{servicesController.croppedImage}" 
                                            image="/resources/temp/images/#{servicesController.fileName}" 
                                            initialCoords="225,75,300,125"
                                            aspectRatio="1.7"
                                            />
                            <p:outputLabel value="نوع تصویر" for="type" />
                            <p:selectOneMenu id="type" value="#{servicesController.fileType}" required="true" requiredMessage="لطفا نوع تصویر را مشخص کنید">
                                <f:selectItem itemValue="1" itemLabel="تصویر سرویس" />
                                <f:selectItem itemValue="2" itemLabel="گواهینامه ها" />
                                <f:selectItem itemValue="3" itemLabel="تصاویر اسلایدر" />
                            </p:selectOneMenu>
                            <p:outputLabel value="توضیحات"/>
                            <p:inputTextarea value="#{servicesController.fileDesc}" />
                            <p:commandButton  value="ویرایش و ثبت اطلاعات" action="#{servicesController.crop()}"  update="ServicesCreateForm:showpic,:formcrop" icon="ui-icon-scissors"/>
                        </p:panelGrid>
                    </p:panelGrid>
                </b:panel>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
