<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ServicesEditDocumentDlg" widgetVar="ServicesEditDocumentDialog" modal="true" resizable="false" appendTo="@(body)" header="نمایش مدارک ها">
            <h:panelGroup id="editDocument">
                <h:form>
                    <p:panelGrid columns="4">
                        <ui:repeat value="#{servicesController.selected.documents.toArray()}" var="item" >
                            <p:column>
                                <p:outputLabel value="نوع مدرک : " />
                                <p:outputLabel value=" #{servicesController.getTypes(item.type)} "/>
                                <p:graphicImage width="150" height="150" value="/media/#{servicesController.getDocuments(item.type,item.file)}" />
                                <p:commandLink  actionListener="#{servicesController.removeImageFile(item)}" update="@form">
                                    <i class="fa fa-2x fa-trash">X</i>
                                    <p:confirm message="آیا از حذف عکس اطمینان دارید؟" icon="ui-icon-alert"></p:confirm>
                                </p:commandLink>

                            </p:column>
                        </ui:repeat>
                    </p:panelGrid>
                </h:form>
            </h:panelGroup>
        </p:dialog>

        <p:dialog id="ServicesEditDlg" widgetVar="ServicesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditServicesTitle}">
            <h:form id="ServicesEditForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{servicesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditServicesLabel_tags}" for="tags" />
                        <p:inputText id="tags" value="#{servicesController.selected.tags}" title="#{bundle.EditServicesTitle_tags}" />
                        <p:outputLabel value="#{bundle.EditServicesLabel_desc}" for="desc" />
                        <p:inputTextarea rows="4" cols="30" id="desc" value="#{servicesController.selected.desc}" title="#{bundle.EditServicesTitle_desc}" />
                        <p:outputLabel value="#{bundle.EditServicesLabel_file}" for="file" />
                        <p:fileUpload id="file" value="#{servicesController.file}" mode="simple"/>
                        <p:outputLabel value="#{bundle.EditServicesLabel_title}" for="title" />
                        <p:inputText id="title" value="#{servicesController.selected.title}" title="#{bundle.EditServicesTitle_title}" />
                        <p:outputLabel value="#{bundle.EditServicesLabel_price}" for="price" />
                        <p:inputText id="price" value="#{servicesController.selected.price}" title="#{bundle.EditServicesTitle_price}" />
                        <p:outputLabel value="وضعیت" for="active" />
                        <p:selectOneMenu id="active" value="#{servicesController.selected.active}">
                            <f:selectItem  itemValue="true" itemLabel="فعال" />
                            <f:selectItem  itemValue="false" itemLabel="غیر فعال" />
                            
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditServicesLabel_ctgId}" for="ctgId" />
                        <p:selectOneMenu id="ctgId" value="#{servicesController.selected.ctg}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ctgServicesController.itemsAvailableSelectOne}"
                                           var="ctgIdItem"
                                           itemLabel="#{ctgIdItem.title}"
                                           itemValue="#{ctgIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton rendered="#{servicesController.selected.documents != null}"  value="نمایش مدارک ها و تصاویر" update="ServicesEditDocumentDlg" oncomplete="PF('ServicesEditDocumentDialog').show()"/>
                    <p:panelGrid columns="2">
                        <p:panelGrid columns="2">
                            <p:outputLabel value="تصاویر اسلایدر" />
                            <h:form>
                                <p:fileUpload fileUploadListener="#{servicesController.handlFileUploadSlider}" mode="advanced" dragDropSupport="false"
                                              multiple="true" update="messages" sizeLimit="100000" fileLimit="3" uploadLabel="آپلود تصاویر" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                <p:growl id="messages" showDetail="true" />
                            </h:form>
                        </p:panelGrid>
                        <p:panelGrid columns="2">
                            <p:outputLabel value="اسکن گواهینامه ها" />
                            <h:form>
                                <p:fileUpload fileUploadListener="#{servicesController.handlFileUploadCertificate}" mode="advanced" dragDropSupport="false"
                                              multiple="true" update="messages" sizeLimit="100000" fileLimit="3" uploadLabel="آپلود تصاویر" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                <p:growl id="messages" showDetail="true" />
                            </h:form>
                        </p:panelGrid>
                    </p:panelGrid>

                    <p:commandButton ajax="false" actionListener="#{servicesController.update}" value="#{bundle.Save}" update="display,:ServicesActiveListForm:datalist,:growl,:ServicesDisableListForm:datalist" oncomplete="handleSubmit(args, 'ServicesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PF('ServicesEditDialog').hide()" type="button"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
