<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:adm="http://github.com/adminfaces"
      >

    <ui:composition template="#{layoutMB.layout}">
       
        <ui:define name="head-end">
            <style type="text/css">
                .ui-datatable .ui-datatable-header {
                    text-align: right !important;
                }

            </style>
        </ui:define>
        <ui:define name="title">
            Services listing
        </ui:define>

        <ui:define name="description">
            List all services and create or edit
        </ui:define>

        <ui:define name="body">
             <p:growl id="growl" life="3000" />
            <adm:breadcrumb title="Services list"/>
            <div class="box box-primary">
                <div class="box-header with-border">
                    
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        
                        <p:commandButton id="createButton" icon="fa fa-plus"   value="New" 
                                         actionListener="#{servicesController.prepareCreate}"
                                         update=":ServicesCreateForm" 
                                         oncomplete="PF('ServicesCreateDialog').show()"
                                         styleClass="btn btn-primary"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="viewButton"   icon="fa fa-search"
                                         value="#{bundle.View}" 
                                         actionListener="#{servicesController.prepareUpdate()}"
                                         update=":ServicesViewForm" oncomplete="PF('ServicesViewDialog').show()" 
                                         disabled="#{empty servicesController.selected}"
                                         styleClass="btn btn-info"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="editButton"   icon="fa fa-pencil"
                                         value="#{bundle.Edit}" update=":ServicesEditForm"
                                         oncomplete="PF('ServicesEditDialog').show()" 
                                         disabled="#{empty servicesController.selected}"
                                         styleClass="btn btn-success"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="deleteButton" icon="fa fa-trash"  
                                         value="#{bundle.Delete}" actionListener="#{servicesController.destroy}"
                                         update=":tabview:ServicesActiveListForm:datalist" disabled="#{empty servicesController.selected}"
                                         styleClass="fa fa-trash">
                        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:commandButton>
                                            
                    </div>
                    
                    <p:tabView cache="true" dynamic="true" id="tabview">
                        <p:tab title="سرویس های فعال" >
                            <h:form id="ServicesActiveListForm">
                                <p:panel header="#{bundle.ListServicesTitle}">
                                    <p:dataTable id="datalist" value="#{servicesController.itemsActive}" var="item"
                                                 selectionMode="single" selection="#{servicesController.selected}"
                                                 paginator="true"
                                                 rowKey="#{item.id}"
                                                 rows="10"
                                                 rowsPerPageTemplate="10,20,30,40,50"
                                                 >

                                        <p:ajax event="rowSelect"   update=":createButton :viewButton :editButton :deleteButton"/>
                                        <p:ajax event="rowUnselect" update=":createButton :viewButton :editButton :deleteButton"/>

                                        <f:facet name="header">
                                            <p:panelGrid columns="2">
                                                <p:outputPanel>
                                                    <h:outputText value="جستجو در تمام فیلدها:" />
                                                    <p:inputText id="globalFilter" onkeyup="PF('datalist').filter()" style="width:150px" placeholder="جستجو..."/>
                                                </p:outputPanel>
                                                <p:outputPanel>
                                                    <p:commandButton id="toggler" type="button" value="انتخاب ستون ها" style="float:left" icon="ui-icon-calculator" />
                                                    <p:columnToggler datasource="datalist" trigger="toggler" /> 
                                                </p:outputPanel>
                                            </p:panelGrid>
                                        </f:facet>

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_tags}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.tags}"/>
                                        </p:column>
                                        <p:column filterBy="#{item.desc}">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_desc}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.desc}"/>
                                        </p:column>
                                        <p:column  rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_file}"/>
                                            </f:facet>
                                            <h:graphicImage value="/media/services/#{item.file}" width="150" height="150"/>
                                        </p:column>
                                        <p:column filterBy="#{item.title}">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_title}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.title}"/>
                                        </p:column>
                                        <p:column filterBy="#{item.price}">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_price}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.price}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_ctgId}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.ctg.title}"/>
                                        </p:column>
                                        <p:column rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_createdAt}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.createdAt}">
                                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_updatedAt}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.updatedAt}">
                                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_id}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.id}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="پیشنهاد شده" />
                                            </f:facet>
                                            <h:outputText value="#{item.offer}" />
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="تعداد کامنت" />
                                            </f:facet>
                                            <h:outputText value="#{item.countComment}" />
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header" >
                                                <h:outputText value="امتیاز" />
                                            </f:facet>
                                            <h:outputText value="#{item.rate}" />
                                        </p:column>
<!--                                        <f:facet name="footer">
                                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{servicesController.prepareCreate}" update=":ServicesCreateForm" oncomplete="PF('ServicesCreateDialog').show()"/>
                                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" actionListener="#{servicesController.prepareUpdate()}" update=":ServicesViewForm" oncomplete="PF('ServicesViewDialog').show()" disabled="#{empty servicesController.selected}"/>
                                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ServicesEditForm" oncomplete="PF('ServicesEditDialog').show()" disabled="#{empty servicesController.selected}"/>
                                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{servicesController.destroy}" update="datalist" disabled="#{empty servicesController.selected}"/>
                                        </f:facet>-->
                                    </p:dataTable>
                                </p:panel>
                            </h:form>
                        </p:tab>
                        <p:tab title="سرویس های تائید نشده">
                            <h:form id="ServicesDisableListForm">
                                <p:panel header="#{bundle.ListServicesTitle}">
                                    <p:dataTable id="datalist" value="#{servicesController.itemsDisable}" var="item"
                                                 selectionMode="single" selection="#{servicesController.selected}"
                                                 paginator="true"
                                                 rowKey="#{item.id}"
                                                 rows="10"
                                                 rowsPerPageTemplate="10,20,30,40,50"
                                                 >

                                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                                        <f:facet name="header">
                                            <p:panelGrid columns="2">
                                                <p:outputPanel>
                                                    <h:outputText value="جستجو در تمام فیلدها:" />
                                                    <p:inputText id="globalFilter" onkeyup="PF('datalist').filter()" style="width:150px" placeholder="جستجو..."/>
                                                </p:outputPanel>
                                                <p:outputPanel>
                                                    <p:commandButton id="toggler" type="button" value="انتخاب ستون ها" style="float:left" icon="ui-icon-calculator" />
                                                    <p:columnToggler datasource="datalist" trigger="toggler" /> 
                                                </p:outputPanel>
                                            </p:panelGrid>
                                        </f:facet>

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_tags}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.tags}"/>
                                        </p:column>
                                        <p:column filterBy="#{item.desc}">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_desc}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.desc}"/>
                                        </p:column>
                                        <p:column  rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_file}"/>
                                            </f:facet>
                                            <h:graphicImage value="/media/services/#{item.file}" width="150" height="150"/>
                                        </p:column>
                                        <p:column filterBy="#{item.title}">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_title}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.title}"/>
                                        </p:column>
                                        <p:column filterBy="#{item.price}">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_price}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.price}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_ctgId}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.ctg.title}"/>
                                        </p:column>
                                        <p:column rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_createdAt}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.createdAt}">
                                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_updatedAt}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.updatedAt}">
                                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="#{bundle.ListServicesTitle_id}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.id}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="پیشنهاد شده" />
                                            </f:facet>
                                            <h:outputText value="#{item.offer}" />
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="تعداد کامنت" />
                                            </f:facet>
                                            <h:outputText value="#{item.countComment}" />
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header" >
                                                <h:outputText value="امتیاز" />
                                            </f:facet>
                                            <h:outputText value="#{item.rate}" />
                                        </p:column>
                                        <f:facet name="footer">
                                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{servicesController.prepareCreate}" update=":ServicesCreateForm" oncomplete="PF('ServicesCreateDialog').show()"/>
                                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" actionListener="#{servicesController.prepareUpdate()}" update=":ServicesViewForm" oncomplete="PF('ServicesViewDialog').show()" disabled="#{empty servicesController.selected}"/>
                                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ServicesEditForm" oncomplete="PF('ServicesEditDialog').show()" disabled="#{empty servicesController.selected}"/>
                                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{servicesController.destroy}" update="datalist" disabled="#{empty servicesController.selected}"/>
                                        </f:facet>
                                    </p:dataTable>
                                </p:panel>
                            </h:form>
                        </p:tab>
                    </p:tabView>


                    <ui:include src="Create.xhtml"/>
                    <ui:include src="Edit.xhtml"/>
                    <ui:include src="View.xhtml"/>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
