<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ServicesViewDocumentDlg" widgetVar="ServicesViewDocumentDialog" modal="true" resizable="false" appendTo="@(body)" header="نمایش مدارک ها">
            <h:panelGroup id="displayDocument">
                <p:panelGrid columns="4" >
                    <ui:repeat value="#{servicesController.selected.documents.toArray()}" var="item" >
                        <p:column >
                            <p:outputLabel value="نوع مدرک : " />
                            <p:outputLabel value=" #{providerController.getTypes(item.type)} "/>
                            <p:graphicImage width="150" height="150" value="/media/#{providerController.getDocuments(item.type,item.file)}" />
                        </p:column>
                    </ui:repeat>
                </p:panelGrid>
            </h:panelGroup>
        </p:dialog>
        
        <p:dialog id="ServicesViewDlg" widgetVar="ServicesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewServicesTitle}">
            <h:form id="ServicesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{servicesController.selected != null}">
                        <h:outputText value="#{bundle.ViewServicesLabel_tags}"/>
                        <h:outputText value="#{servicesController.selected.tags}" title="#{bundle.ViewServicesTitle_tags}"/>
                        <h:outputText value="#{bundle.ViewServicesLabel_desc}"/>
                        <h:outputText value="#{servicesController.selected.desc}" title="#{bundle.ViewServicesTitle_desc}"/>
                        <h:outputText value="#{bundle.ViewServicesLabel_file}"/>
                        <h:graphicImage width="150" height="150" value="/media/services/#{servicesController.selected.file}" title="#{bundle.ViewServicesTitle_file}"/>
                        <h:outputText value="#{bundle.ViewServicesLabel_title}"/>
                        <h:outputText value="#{servicesController.selected.title}" title="#{bundle.ViewServicesTitle_title}"/>
                        <h:outputText value="#{bundle.ViewServicesLabel_price}"/>
                        <h:outputText value="#{servicesController.selected.price}" title="#{bundle.ViewServicesTitle_price}"/>
                        <h:outputText value="#{bundle.ViewServicesLabel_ctgId}"/>
                        <h:outputText value="#{servicesController.selected.ctg.title}" title="#{bundle.ViewServicesTitle_ctgId}"/>
                        <h:outputText value="#{bundle.ViewServicesLabel_id}"/>
                        <h:outputText value="#{servicesController.selected.id}" title="#{bundle.ViewServicesTitle_id}"/>
                        <h:outputText value="#{bundle.ViewServicesLabel_createdAt}"/>
                        <h:outputText value="#{servicesController.selected.createdAt}" title="#{bundle.ViewServicesTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewServicesLabel_updatedAt}"/>
                        <h:outputText value="#{servicesController.selected.updatedAt}" title="#{bundle.ViewServicesTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <p:commandButton rendered="#{servicesController.selected.documents.toArray() != null}"  value="نمایش  تصاویر و مدارک ها" update="ServicesViewDocumentDlg" oncomplete="PF('ServicesViewDocumentDialog').show()"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PF('ServicesViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
