<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FullInfoUserCreateDlg" widgetVar="FullInfoUserCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateFullInfoUserTitle}">
            <h:form id="FullInfoUserCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{fullInfoUserController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_rate}" for="rate" />
                        <p:inputText id="rate" value="#{fullInfoUserController.selected.rate}" title="#{bundle.CreateFullInfoUserTitle_rate}" />
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_countComment}" for="countComment" />
                        <p:inputText id="countComment" value="#{fullInfoUserController.selected.countComment}" title="#{bundle.CreateFullInfoUserTitle_countComment}" />
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_offer}" for="offer" />
                        <p:inputText id="offer" value="#{fullInfoUserController.selected.offer}" title="#{bundle.CreateFullInfoUserTitle_offer}" />
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_nationalCode}" for="nationalCode" />
                        <p:inputText id="nationalCode" value="#{fullInfoUserController.selected.nationalCode}" title="#{bundle.CreateFullInfoUserTitle_nationalCode}" />
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_shShenas}" for="shShenas" />
                        <p:inputText id="shShenas" value="#{fullInfoUserController.selected.shShenas}" title="#{bundle.CreateFullInfoUserTitle_shShenas}" />
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_description}" for="description" />
                        <p:inputTextarea rows="4" cols="30" id="description" value="#{fullInfoUserController.selected.description}" title="#{bundle.CreateFullInfoUserTitle_description}" />
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{fullInfoUserController.selected.createdAt}" title="#{bundle.EditFullInfoUserTitle_createdAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{fullInfoUserController.selected.updatedAt}" title="#{bundle.EditFullInfoUserTitle_updatedAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_id}" for="id" />
                        <p:inputText id="id" value="#{fullInfoUserController.selected.id}" title="#{bundle.CreateFullInfoUserTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateFullInfoUserLabel_deleted}" for="deleted" />
                        <p:inputText id="deleted" value="#{fullInfoUserController.selected.deleted}" title="#{bundle.CreateFullInfoUserTitle_deleted}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{fullInfoUserController.create}" value="#{bundle.Save}" update="display,:FullInfoUserListForm:datalist,:growl" oncomplete="handleSubmit(args,'FullInfoUserCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FullInfoUserCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
