<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListFullInfoUserTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="FullInfoUserListForm">
                <p:panel header="#{bundle.ListFullInfoUserTitle}">
                    <p:dataTable id="datalist" value="#{fullInfoUserController.items}" var="item"
                                 selectionMode="single" selection="#{fullInfoUserController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>


                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFullInfoUserTitle_nationalCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.nationalCode}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFullInfoUserTitle_shShenas}"/>
                            </f:facet>
                            <h:outputText value="#{item.shShenas}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFullInfoUserTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFullInfoUserTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFullInfoUserTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFullInfoUserTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFullInfoUserTitle_deleted}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleted}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{fullInfoUserController.prepareCreate}" update=":FullInfoUserCreateForm" oncomplete="PF('FullInfoUserCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":FullInfoUserViewForm" oncomplete="PF('FullInfoUserViewDialog').show()" disabled="#{empty fullInfoUserController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":FullInfoUserEditForm" oncomplete="PF('FullInfoUserEditDialog').show()" disabled="#{empty fullInfoUserController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{fullInfoUserController.destroy}" update=":growl,datalist" disabled="#{empty fullInfoUserController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
