<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FullInfoUserViewDlg" widgetVar="FullInfoUserViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFullInfoUserTitle}">
            <h:form id="FullInfoUserViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{fullInfoUserController.selected != null}">
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_rate}"/>
                        <h:outputText value="#{fullInfoUserController.selected.rate}" title="#{bundle.ViewFullInfoUserTitle_rate}"/>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_countComment}"/>
                        <h:outputText value="#{fullInfoUserController.selected.countComment}" title="#{bundle.ViewFullInfoUserTitle_countComment}"/>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_offer}"/>
                        <h:outputText value="#{fullInfoUserController.selected.offer}" title="#{bundle.ViewFullInfoUserTitle_offer}"/>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_nationalCode}"/>
                        <h:outputText value="#{fullInfoUserController.selected.nationalCode}" title="#{bundle.ViewFullInfoUserTitle_nationalCode}"/>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_shShenas}"/>
                        <h:outputText value="#{fullInfoUserController.selected.shShenas}" title="#{bundle.ViewFullInfoUserTitle_shShenas}"/>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_description}"/>
                        <h:outputText value="#{fullInfoUserController.selected.description}" title="#{bundle.ViewFullInfoUserTitle_description}"/>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_createdAt}"/>
                        <h:outputText value="#{fullInfoUserController.selected.createdAt}" title="#{bundle.ViewFullInfoUserTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_updatedAt}"/>
                        <h:outputText value="#{fullInfoUserController.selected.updatedAt}" title="#{bundle.ViewFullInfoUserTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_id}"/>
                        <h:outputText value="#{fullInfoUserController.selected.id}" title="#{bundle.ViewFullInfoUserTitle_id}"/>
                        <h:outputText value="#{bundle.ViewFullInfoUserLabel_deleted}"/>
                        <h:outputText value="#{fullInfoUserController.selected.deleted}" title="#{bundle.ViewFullInfoUserTitle_deleted}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FullInfoUserViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
