<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">

     <ul class="sidebar-menu">
        <li>
            <p:link href="/index.xhtml" onclick="clearBreadCrumbs()">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </p:link>
        </li>
        <li class="header">
            General
        </li>
         
          <li class="treeview">
            <a href="#" >
              <i class="fa fa-table"></i>
              <span>Services</span>
            <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>

            <ul class="treeview-menu" role="menu">
                <li>
                    <p:link href="/admin/ctgServices/List.xhtml" onclick="clearBreadCrumbs()">
                        <i class="fa fa-th-list"></i>
                        <span>Category Services</span>
                    </p:link>
                 </li>
                <li>
                    <p:link href="/admin/services/List.xhtml" onclick="clearBreadCrumbs()">
                        <i class="fa fa-table"></i>
                        <span>Services</span>
                    </p:link>
                </li>
                <li>
                    <p:link href="/admin/subServices/List.xhtml" onclick="clearBreadCrumbs()">
                        <i class="fa fa-object-ungroup"></i>
                        <span>Sub Services</span>
                    </p:link>
                </li>
                         <li>
                            <p:link href="/admin/obligation/List.xhtml" onclick="clearBreadCrumbs()">
                                <i class="fa fa-file-text-o"></i>
                                <span>Obligation</span>
                            </p:link>
                        </li>
                
            </ul>
            
        </li>
         
         <li>
            <p:link href="/admin/documents/List.xhtml" onclick="clearBreadCrumbs()">
                <i class="fa fa-link"></i>
                <span>Documents</span>
            </p:link>
        </li>
         
         <li>
            <p:link href="/admin/order/List.xhtml" onclick="clearBreadCrumbs()">
                <i class="fa fa-dollar"></i>
                <span>Order</span>
            </p:link>
        </li>
         
         <li>
            <p:link href="/admin/question/List.xhtml" onclick="clearBreadCrumbs()">
                <i class="fa fa-question"></i>
                <span>Question</span>
            </p:link>
        </li>
         <li class="treeview">
            <a href="#" >
             <i class="fa fa-users"></i>
             <span>User</span> 
                <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                </span>
               
            </a>

             <ul class="treeview-menu" role="menu">
                 <li>
                    <p:link href="/admin/user/List.xhtml" onclick="clearBreadCrumbs()">
                        <i class="fa fa-user"></i>
                        <span>Users</span>
                    </p:link>
                </li>
                 <li>
                    <p:link href="/admin/Provider/List.xhtml" onclick="clearBreadCrumbs()">
                        <i class="fa fa-user-circle"></i>
                        <span>Services Provider</span>
                    </p:link>
                </li>
                 <li>
                    <p:link href="/admin/userAddress/List.xhtml" onclick="clearBreadCrumbs()">
                        <i class="fa fa-vcard"></i>
                        <span>User Address</span>
                    </p:link>
                </li>
             </ul>
         </li>
         
    </ul>

</ui:composition>