<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserAddressEditDlg" widgetVar="UserAddressEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUserAddressTitle}">
            <h:form id="UserAddressEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userAddressController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUserAddressLabel_address}" for="address"  />
                        <p:inputTextarea id="address" value="#{userAddressController.selected.address}" title="#{bundle.CreateUserAddressTitle_address}" required="true" requiredMessage="آدرس را وارد کنید"/>
                        <p:outputLabel value="#{bundle.CreateUserAddressLabel_user}" for="user" />
                        <p:selectOneMenu id="user" value="#{userAddressController.selected.user}" required="true" requiredMessage="لطفا کاربر را انتخاب کنید">
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userItem"
                                           itemLabel="#{userItem.mobile}"
                                           itemValue="#{userItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userAddressController.update}" value="#{bundle.Save}" update="display,:UserAddressListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UserAddressEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UserAddressEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
