<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserAddressViewDlg" widgetVar="UserAddressViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserAddressTitle}">
            <h:form id="UserAddressViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userAddressController.selected != null}">
                        <h:outputText value="#{bundle.ViewUserAddressLabel_address}"/>
                        <h:outputText value="#{userAddressController.selected.address}" title="#{bundle.ViewUserAddressTitle_address}"/>
                        <h:outputText value="#{bundle.ViewUserAddressLabel_lastUse}"/>
                        <h:outputText value="#{userAddressController.selected.lastUse}" title="#{bundle.ViewUserAddressTitle_lastUse}"/>
                        <h:outputText value="#{bundle.ViewUserAddressLabel_user}"/>
                        <h:outputText value="#{userAddressController.selected.user}" title="#{bundle.ViewUserAddressTitle_user}"/>
                        <h:outputText value="#{bundle.ViewUserAddressLabel_lat}"/>
                        <h:outputText value="#{userAddressController.selected.lat}" title="#{bundle.ViewUserAddressTitle_lat}"/>
                        <h:outputText value="#{bundle.ViewUserAddressLabel_lng}"/>
                        <h:outputText value="#{userAddressController.selected.lng}" title="#{bundle.ViewUserAddressTitle_lng}"/>
                        <h:outputText value="#{bundle.ViewUserAddressLabel_createdAt}"/>
                        <h:outputText value="#{userAddressController.selected.createdAt}" title="#{bundle.ViewUserAddressTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserAddressLabel_updatedAt}"/>
                        <h:outputText value="#{userAddressController.selected.updatedAt}" title="#{bundle.ViewUserAddressTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserAddressLabel_id}"/>
                        <h:outputText value="#{userAddressController.selected.id}" title="#{bundle.ViewUserAddressTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UserAddressViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
