<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CtgServicesCreateDlg" widgetVar="CtgServicesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCtgServicesTitle}">
            <h:form id="CtgServicesCreateForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ctgServicesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCtgServicesLabel_desc}" for="desc" />
                        <p:inputTextarea rows="4" cols="30" id="desc" value="#{ctgServicesController.selected.desc}" title="#{bundle.CreateCtgServicesTitle_desc}" />
                        <p:outputLabel value="#{bundle.CreateCtgServicesLabel_file}" for="file" />
                        <p:fileUpload id="file" value="#{ctgServicesController.file}" mode="simple" />
                        <p:outputLabel value="#{bundle.CreateCtgServicesLabel_title}" for="title" />
                        <p:inputText id="title" value="#{ctgServicesController.selected.title}" title="#{bundle.CreateCtgServicesTitle_title}" />
                        <p:outputLabel value="Tags" for="tags" />
                        <p:inputText value="#{ctgServicesController.selected.tags}" id="tags" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ctgServicesController.create}" ajax="false" value="#{bundle.Save}" update="display,:CtgServicesListForm:datalist,:growl" oncomplete="handleSubmit(args,'CtgServicesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PF('CtgServicesCreateDialog').hide()" type="button"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
