<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CtgServicesEditDlg" widgetVar="CtgServicesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCtgServicesTitle}">
            <h:form id="CtgServicesEditForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ctgServicesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCtgServicesLabel_desc}" for="desc" />
                        <p:inputTextarea rows="4" cols="30" id="desc" value="#{ctgServicesController.selected.desc}" title="#{bundle.EditCtgServicesTitle_desc}" />
                        <p:outputLabel value="#{bundle.EditCtgServicesLabel_file}" for="file" />
                        <p:fileUpload id="file" value="#{ctgServicesController.file}" mode="simple" />
                        <p:outputLabel value="#{bundle.EditCtgServicesLabel_title}" for="title" />
                        <p:inputText id="title" value="#{ctgServicesController.selected.title}" title="#{bundle.EditCtgServicesTitle_title}" />
                        <p:outputLabel value="#{bundle.EditCtgServicesLabel_tags}" for="tags" />
                        <p:inputText id="tags" value="#{ctgServicesController.selected.tags}" title="#{bundle.EditCtgServicesTitle_tags}" />
                    </p:panelGrid>
                    <p:commandButton ajax="false" actionListener="#{ctgServicesController.update}" value="#{bundle.Save}" update="display,:CtgServicesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CtgServicesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CtgServicesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
