<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>

        <p:dialog id="CtgServicesViewDlg" widgetVar="CtgServicesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCtgServicesTitle}">
            <h:form id="CtgServicesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ctgServicesController.selected != null}">
                        <h:outputText value="#{bundle.ViewCtgServicesLabel_desc}"/>
                        <h:outputText value="#{ctgServicesController.selected.desc}" title="#{bundle.ViewCtgServicesTitle_desc}"/>
                        <c:if test="#{ctgServicesController.selected.file != null and !ctgServicesController.selected.file.isEmpty()}">
                            <h:outputText value="#{bundle.ViewCtgServicesLabel_file}"/>
                            <h:graphicImage value="/media/ctg_services/#{ctgServicesController.selected.file}" width="150px" height="150px" alt="#{bundle.ViewCtgServicesTitle_file}"/>
                        </c:if>
                        <h:outputText value="#{bundle.ViewCtgServicesLabel_title}"/>
                        <h:outputText value="#{ctgServicesController.selected.title}" title="#{bundle.ViewCtgServicesTitle_title}"/>
                        <h:outputText value="#{bundle.ViewCtgServicesLabel_tags}"/>
                        <h:outputText value="#{ctgServicesController.selected.tags}" title="#{bundle.ViewCtgServicesTitle_tags}"/>
                        <h:outputText value="#{bundle.ViewCtgServicesLabel_servicesCollection}"/>
                        <h:panelGrid >
                            <ui:repeat value="#{ctgServicesController.selected.services.toArray()}" var="item">
                                <h:outputText value="#{item.title}" />
                            </ui:repeat>
                        </h:panelGrid>
                        <h:outputText value="#{bundle.ViewCtgServicesLabel_id}"/>
                        <h:outputText value="#{ctgServicesController.selected.id}" title="#{bundle.ViewCtgServicesTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CtgServicesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
