<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ServicesProvidersEditDlg" widgetVar="ServicesProvidersEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditServicesProvidersTitle}">
            <h:form id="ServicesProvidersEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{subServicesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditServicesProvidersLabel_price}" for="price" />
                        <p:inputText id="price" value="#{subServicesController.selected.price}" title="#{bundle.EditServicesProvidersTitle_price}" />
                        <p:outputLabel value="عنوان" for="title" />
                        <p:inputText id="title" value="#{subServicesController.selected.title}" title="Title" />
                        <p:outputLabel value="توضیحات کوتاه" for="desc"/>
                        <p:inputTextarea value="#{subServicesController.selected.desc}" id="desc" />
                        <p:outputLabel for="services" value="سرویس" />
                        <p:selectOneMenu id="services" value="#{subServicesController.selected.services}"  >
                            <f:selectItems value="#{servicesController.itemsAvailableSelectMany}"
                                           var="item"
                                           itemLabel="#{item.title}"
                                           itemValue="#{item}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{subServicesController.update}" value="#{bundle.Save}" update="display,:ServicesProvidersListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ServicesProvidersEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ServicesProvidersEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
