<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ServicesProvidersViewDlg" widgetVar="ServicesProvidersViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewServicesProvidersTitle}">
            <h:form id="ServicesProvidersViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{subServicesController.selected != null}">
                        <h:outputText value="#{bundle.ViewServicesProvidersLabel_price}"/>
                        <h:outputText value="#{subServicesController.selected.price}" title="#{bundle.ViewServicesProvidersTitle_price}"/>
                        <h:outputText value="عنوان"/>
                        <h:outputText value="#{subServicesController.selected.title}" title="#{bundle.ViewServicesProvidersTitle_area}"/>
                        <h:outputText value="توضیحات کوتاه"/>
                        <h:outputText value="#{subServicesController.selected.desc}" title="#{bundle.ViewServicesProvidersTitle_area}"/>
                        <p:outputLabel value="دسته بندی" />
                        <p:outputLabel value="#{subServicesController.selected.services.title}" />
                        
                        <h:outputText value="#{bundle.ViewServicesProvidersLabel_createdAt}"/>
                        <h:outputText value="#{subServicesController.selected.createdAt}" title="#{bundle.ViewServicesProvidersTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewServicesProvidersLabel_updatedAt}"/>
                        <h:outputText value="#{subServicesController.selected.updatedAt}" title="#{bundle.ViewServicesProvidersTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewServicesProvidersLabel_id}"/>
                        <h:outputText value="#{subServicesController.selected.id}" title="#{bundle.ViewServicesProvidersTitle_id}"/>
                        <h:outputText value="#{bundle.ViewServicesProvidersLabel_deleted}"/>
                        <h:outputText value="#{subServicesController.selected.deleted}" title="#{bundle.ViewServicesProvidersTitle_deleted}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ServicesProvidersViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
