<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DocumentsCreateDlg" widgetVar="DocumentsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateDocumentsTitle}">
            <h:form id="DocumentsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{documentsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_type}" for="type" />
                        <p:inputText id="type" value="#{documentsController.selected.type}" title="#{bundle.CreateDocumentsTitle_type}" />
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_desc}" for="desc" />
                        <p:inputText id="desc" value="#{documentsController.selected.desc}" title="#{bundle.CreateDocumentsTitle_desc}" />
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_expired}" for="expired" />
                        <p:inputText id="expired" value="#{documentsController.selected.expired}" title="#{bundle.CreateDocumentsTitle_expired}" />
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_file}" for="file" />
                        <p:inputText id="file" value="#{documentsController.selected.file}" title="#{bundle.CreateDocumentsTitle_file}" />
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_user}" for="user" />
                        <p:selectOneMenu id="user" value="#{documentsController.selected.user}" >
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userItem"
                                           itemValue="#{userItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{documentsController.selected.createdAt}" title="#{bundle.EditDocumentsTitle_createdAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{documentsController.selected.updatedAt}" title="#{bundle.EditDocumentsTitle_updatedAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{documentsController.selected.id}" title="#{bundle.CreateDocumentsTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateDocumentsLabel_deleted}" for="deleted" />
                        <p:inputText id="deleted" value="#{documentsController.selected.deleted}" title="#{bundle.CreateDocumentsTitle_deleted}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{documentsController.create}" value="#{bundle.Save}" update="display,:DocumentsListForm:datalist,:growl" oncomplete="handleSubmit(args,'DocumentsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DocumentsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
