<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:adm="http://github.com/adminfaces"
      >

  <ui:composition template="#{layoutMB.layout}">
       
        <ui:define name="head-end">
            <style type="text/css">
                .ui-datatable .ui-datatable-header {
                    text-align: right !important;
                }

            </style>
        </ui:define>
        <ui:define name="title">
            Documents listing
        </ui:define>

        <ui:define name="description">
            List all Documents and create or edit
        </ui:define>

        <ui:define name="body">
             <p:growl id="growl" life="3000" />
            <adm:breadcrumb title="Document list"/>
            <div class="box box-primary">
                <div class="box-header with-border">
                    
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        
                        
                        <p:commandButton id="deleteButton" icon="fa fa-trash"  
                                         value="#{bundle.Delete}" actionListener="#{documentsController.destroy()}"
                                         update=":DocumentsListForm:datalist" disabled="#{empty documentsController.selected}"
                                         styleClass="btn btn-danger">
                        </p:commandButton>
                                            
                    </div>
            <h:form id="DocumentsListForm">
                <p:panel header="#{bundle.ListDocumentsTitle}">
                    <p:dataTable id="datalist" value="#{documentsController.items}" var="item"
                                 selectionMode="single" selection="#{documentsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update=":deleteButton"/>
                        <p:ajax event="rowUnselect" update=":deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentsTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentsTitle_desc}"/>
                            </f:facet>
                            <h:outputText value="#{item.desc}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentsTitle_expired}"/>
                            </f:facet>
                            <h:outputText value="#{item.expired}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentsTitle_file}"/>
                            </f:facet>
                            <p:graphicImage value="/media/#{servicesController.getDocuments(item.type, item.file)}" width="150" height="150"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentsTitle_user}"/>
                            </f:facet>                           
                            <h:outputText value="#{item.user != null ? item.user.name : item.services != null ? item.services.title : ''}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentsTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentsTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
<!--                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{documentsController.prepareCreate()}" update=":DocumentsCreateForm" oncomplete="PF('DocumentsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":DocumentsViewForm" oncomplete="PF('DocumentsViewDialog').show()" disabled="#{empty documentsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":DocumentsEditForm" oncomplete="PF('DocumentsEditDialog').show()" disabled="#{empty documentsController.selected}"/>-->
                            <!--<p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{documentsController.destroy()}" update=":growl,datalist" disabled="#{empty documentsController.selected}"/>-->
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
