<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DocumentsViewDlg" widgetVar="DocumentsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDocumentsTitle}">
            <h:form id="DocumentsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{documentsController.selected != null}">
                        <h:outputText value="#{bundle.ViewDocumentsLabel_type}"/>
                        <h:outputText value="#{documentsController.selected.type}" title="#{bundle.ViewDocumentsTitle_type}"/>
                        <h:outputText value="#{bundle.ViewDocumentsLabel_desc}"/>
                        <h:outputText value="#{documentsController.selected.desc}" title="#{bundle.ViewDocumentsTitle_desc}"/>
                        <h:outputText value="#{bundle.ViewDocumentsLabel_expired}"/>
                        <h:outputText value="#{documentsController.selected.expired}" title="#{bundle.ViewDocumentsTitle_expired}"/>
                        <h:outputText value="#{bundle.ViewDocumentsLabel_file}"/>
                        <h:outputText value="#{documentsController.selected.file}" title="#{bundle.ViewDocumentsTitle_file}"/>
                        <h:outputText value="#{bundle.ViewDocumentsLabel_user}"/>
                        <h:outputText value="#{documentsController.selected.user}" title="#{bundle.ViewDocumentsTitle_user}"/>
                        <h:outputText value="#{bundle.ViewDocumentsLabel_createdAt}"/>
                        <h:outputText value="#{documentsController.selected.createdAt}" title="#{bundle.ViewDocumentsTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewDocumentsLabel_updatedAt}"/>
                        <h:outputText value="#{documentsController.selected.updatedAt}" title="#{bundle.ViewDocumentsTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewDocumentsLabel_id}"/>
                        <h:outputText value="#{documentsController.selected.id}" title="#{bundle.ViewDocumentsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewDocumentsLabel_deleted}"/>
                        <h:outputText value="#{documentsController.selected.deleted}" title="#{bundle.ViewDocumentsTitle_deleted}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DocumentsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
