<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="QuestionCreateDlg" widgetVar="QuestionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateQuestionTitle}">
            <h:form id="QuestionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{questionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateQuestionLabel_question}" for="question" />
                        <p:inputTextarea id="question" value="#{questionController.selected.question}" requiredMessage=" سوال نمی تواند خالی باشد" title="#{bundle.CreateQuestionTitle_question}" required="true"/>
                        <p:outputLabel value="#{bundle.CreateQuestionLabel_services}" for="services" />
                        <p:selectOneMenu id="services" value="#{questionController.selected.services}" requiredMessage="لطفا سرویس مورد نظر را انتخاب کنید" required="true">
                            <f:selectItem itemLabel="انتخاب کنید ..." />
                            <f:selectItems value="#{servicesController.itemsAvailableSelectOne}"
                                           var="servicesItem"
                                           itemLabel="#{servicesItem.title}"
                                           itemValue="#{servicesItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{questionController.create}" value="#{bundle.Save}" update="display,:QuestionListForm:datalist,:growl" oncomplete="handleSubmit(args,'QuestionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="QuestionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
