<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:adm="http://github.com/adminfaces"
      >

  <ui:composition template="#{layoutMB.layout}">
       
        <ui:define name="head-end">
            <style type="text/css">
                .ui-datatable .ui-datatable-header {
                    text-align: right !important;
                }

            </style>
        </ui:define>
        <ui:define name="title">
            Questions listing
        </ui:define>

        <ui:define name="description">
            List all Questions and create or edit
        </ui:define>

        <ui:define name="body">
             <p:growl id="growl" life="3000" />
            <adm:breadcrumb title="Questions list"/>
            <div class="box box-primary">
                <div class="box-header with-border">
                    
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        
                        <p:commandButton id="createButton" icon="fa fa-plus"   value="New" 
                                         actionListener="#{questionController.prepareCreate}"
                                         update=":QuestionCreateForm" 
                                         oncomplete="PF('QuestionCreateDialog').show()"
                                         styleClass="btn btn-primary"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="viewButton"   icon="fa fa-search"
                                         value="#{bundle.View}" 
                                         
                                         update=":QuestionViewForm" oncomplete="PF('QuestionViewDialog').show()" 
                                         disabled="#{empty questionController.selected}"
                                         styleClass="btn btn-info"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="editButton"   icon="fa fa-pencil"
                                         value="#{bundle.Edit}" update=":QuestionEditForm"
                                         oncomplete="PF('QuestionEditDialog').show()" 
                                         disabled="#{empty questionController.selected}"
                                         styleClass="btn btn-success"/>
                        <p:spacer width="5"/>
                        <p:commandButton id="deleteButton" icon="fa fa-trash"  
                                         value="#{bundle.Delete}" actionListener="#{questionController.destroy}"
                                         update=":QuestionListForm:datalist" disabled="#{empty questionController.selected}"
                                         styleClass="btn btn-danger">
                        </p:commandButton>
                                            
                    </div>
            <h:form id="QuestionListForm">
                <p:panel header="#{bundle.ListQuestionTitle}">
                    <p:dataTable id="datalist" value="#{questionController.items}" var="item"
                                 selectionMode="single" selection="#{questionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                         <p:ajax event="rowSelect"   update=":createButton :viewButton :editButton :deleteButton"/>
                        <p:ajax event="rowUnselect" update=":createButton :viewButton :editButton :deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListQuestionTitle_question}"/>
                            </f:facet>
                            <h:outputText value="#{item.question}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListQuestionTitle_services}"/>
                            </f:facet>
                            <h:outputText value="#{item.services}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListQuestionTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListQuestionTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{questionController.prepareCreate}" update=":QuestionCreateForm" oncomplete="PF('QuestionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":QuestionViewForm" oncomplete="PF('QuestionViewDialog').show()" disabled="#{empty questionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":QuestionEditForm" oncomplete="PF('QuestionEditDialog').show()" disabled="#{empty questionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{questionController.destroy}" update=":growl,datalist" disabled="#{empty questionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
