<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="QuestionViewDlg" widgetVar="QuestionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewQuestionTitle}">
            <h:form id="QuestionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{questionController.selected != null}">
                        <h:outputText value="#{bundle.ViewQuestionLabel_question}"/>
                        <h:outputText value="#{questionController.selected.question}" title="#{bundle.ViewQuestionTitle_question}"/>
                        <h:outputText value="#{bundle.ViewQuestionLabel_services}"/>
                        <h:outputText value="#{questionController.selected.services}" title="#{bundle.ViewQuestionTitle_services}"/>
                        <h:outputText value="#{bundle.ViewQuestionLabel_createdAt}"/>
                        <h:outputText value="#{questionController.selected.createdAt}" title="#{bundle.ViewQuestionTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewQuestionLabel_updatedAt}"/>
                        <h:outputText value="#{questionController.selected.updatedAt}" title="#{bundle.ViewQuestionTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewQuestionLabel_id}"/>
                        <h:outputText value="#{questionController.selected.id}" title="#{bundle.ViewQuestionTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="QuestionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
