<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserCreateDlg" widgetVar="UserCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUserTitle}">
            <h:form id="UserCreateForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{providerController.selected != null}">
                        <p:panelGrid columns="2" >
                            <p:outputLabel value="#{bundle.CreateUserLabel_image}" for="image" />
                            <p:fileUpload id="image" value="#{providerController.file}" mode="simple" skinSimple="true" />
                            <p:outputLabel value="#{bundle.CreateUserLabel_family}" for="family" />
                            <p:inputText id="family" value="#{providerController.selected.family}" title="#{bundle.CreateUserTitle_family}" />
                            <p:outputLabel value="#{bundle.CreateUserLabel_name}" for="name" />
                            <p:inputText id="name" value="#{providerController.selected.name}" title="#{bundle.CreateUserTitle_name}" />
                            <p:outputLabel value="#{bundle.CreateUserLabel_phone}" for="phone" />
                            <p:inputText id="phone" value="#{providerController.selected.phone}" title="#{bundle.CreateUserTitle_phone}" />
                            <p:outputLabel value="#{bundle.CreateUserLabel_email}" for="email" />
                            <p:inputText id="email" value="#{providerController.selected.email}" title="#{bundle.CreateUserTitle_email}" />
                            <p:outputLabel value="#{bundle.CreateUserLabel_password}" for="plainPassword" />
                            <p:inputText id="plainPassword" value="#{providerController.selected.plainPassword}" title="#{bundle.CreateUserTitle_plainPassword}" />
                            <p:outputLabel value="#{bundle.CreateUserLabel_mobile}" for="mobile" />
                            <p:inputText id="mobile" value="#{providerController.selected.mobile}" title="#{bundle.CreateUserTitle_mobile}" />
                        </p:panelGrid>
                        <p:panelGrid columns="2">
                            <p:outputLabel value="توضیحات در مورد نوع سرویس دادن" />
                            <p:inputTextarea value="#{providerController.fullInfoUser.description}" />
                            <p:outputLabel value="شماره شناسنامه" />
                            <p:inputText value="#{providerController.fullInfoUser.shShenas}" />
                            <p:outputLabel value="اسکن شناسنامه" for="shShena" />
                            <p:fileUpload value="#{providerController.shFile}" id="shShena"  mode="simple" skinSimple="true"/>
                            <p:outputLabel value="کد ملی" />
                            <p:inputText value="#{providerController.fullInfoUser.nationalCode}" />
                            <p:outputLabel value="اسکن کارت ملی" for="national"/>
                            <p:fileUpload value="#{providerController.nationalCodeFile}" id="national" mode="simple" skinSimple="true" />
                            <p:outputLabel value="لوگو" for="logo"/>
                            <p:fileUpload value="#{providerController.logo}" id="logo" mode="simple" skinSimple="true" />
                        </p:panelGrid>
                        <p:panelGrid >
                            <p:panelGrid columns="2" id="address">
                                <p:outputLabel value="آدرس ها" />
                                <ui:repeat value="#{providerController.address}" var="item">
                                    <p:outputLabel value="#{item}" /><br/>
                                </ui:repeat>
                            </p:panelGrid>
                            <p:panelGrid columns="2" id="addressinput">
                                <p:inputTextarea value="#{providerController.newAddress}" />
                                <p:commandButton action="#{providerController.addAddress()}" update="address" partialSubmit="true" process="addressinput" value="افزودن آدرس جدید" />
                            </p:panelGrid>
                        </p:panelGrid>
                        <p:panelGrid columns="2">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="تصاویر اسلایدر" />
                                <h:form>
                                    <p:fileUpload fileUploadListener="#{providerController.handlFileUploadSlider}" mode="advanced" dragDropSupport="false"
                                                  multiple="true" update="messages" sizeLimit="100000" fileLimit="3" uploadLabel="آپلود تصاویر" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                    <p:growl id="messages" showDetail="true" />
                                </h:form>
                            </p:panelGrid>
                            <p:panelGrid columns="2">
                                <p:outputLabel value="اسکن گواهینامه ها" />
                                <h:form>
                                    <p:fileUpload fileUploadListener="#{providerController.handlFileUploadCertificate}" mode="advanced" dragDropSupport="false"
                                                  multiple="true" update="messages" sizeLimit="100000" fileLimit="3" uploadLabel="آپلود تصاویر" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                    <p:growl id="messages" showDetail="true" />
                                </h:form>
                            </p:panelGrid>
                        </p:panelGrid>
                    </p:panelGrid>
                    <p:commandButton ajax="false" actionListener="#{providerController.create}" value="#{bundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(args,'UserCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PF('UserCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
