<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>
        <p:dialog id="UserViewCommentDlg" widgetVar="UserViewCommentDialog" modal="true" resizable="false" appendTo="@(body)" header="نمایش کامنت ها">
            <h:panelGroup id="displayComment">
<!--                <ui:repeat value="#{providerController.selected}" var="item" >
                    <p:panelGrid columns="2" style="margin-top: 2px;margin-bottom: 2px;border-bottom: 1px solid #31708f">
                        <p:outputLabel value="کاربر" />
                        <p:outputLabel value="#{item.user.name} #{item.user.family} #{item.user.mobile}"/>
                        <p:outputLabel value="کامنت" />
                        <p:outputLabel value="#{item.comment}" />
                    </p:panelGrid>
                </ui:repeat>-->
            </h:panelGroup>
        </p:dialog>

        <p:dialog id="UserViewDocumentDlg" widgetVar="UserViewDocumentDialog" modal="true" resizable="false" appendTo="@(body)" header="نمایش مدارک ها">
            <h:panelGroup id="displayDocument">
                <p:panelGrid columns="4" >
                    <ui:repeat value="#{providerController.selected.documents.toArray()}" var="item" >
                        <p:column >
                            <p:outputLabel value="نوع مدرک : " />
                            <p:outputLabel value=" #{providerController.getTypes(item.type)} "/>
                            <p:graphicImage width="150" height="150" value="/media/#{providerController.getDocuments(item.type,item.file)}" />
                        </p:column>
                    </ui:repeat>
                </p:panelGrid>
            </h:panelGroup>
        </p:dialog>

        <p:dialog id="UserViewDlg" widgetVar="UserViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserTitle}">
            <h:form id="UserViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{providerController.selected != null}">
                        <p:panelGrid columns="2">
                            <h:outputText value="#{bundle.ViewUserLabel_image}"/>
                            <h:graphicImage width="100" height="100" value="media/profile/#{providerController.selected.image}" title="#{bundle.ViewUserTitle_image}"/>
                            <h:outputText value="#{bundle.ViewUserLabel_family}"/>
                            <h:outputText value="#{providerController.selected.family}" title="#{bundle.ViewUserTitle_family}"/>
                            <h:outputText value="#{bundle.ViewUserLabel_name}"/>
                            <h:outputText value="#{providerController.selected.name}" title="#{bundle.ViewUserTitle_name}"/>
                        </p:panelGrid>
                        <p:panelGrid columns="2">
                            <h:outputText value="شماره شناسنامه"/>
                            <h:outputText value="#{providerController.selected.fullInfoUser.shShenas}" title="#{bundle.ViewUserTitle_fullInfoUser}"/>
                            <h:outputLabel value="کارت ملی" />
                            <h:outputText value="#{providerController.selected.fullInfoUser.nationalCode}" />
                            <p:commandButton rendered="#{providerController.selected.services.toArray() != null}"  value="نمایش کامنت ها" update="UserViewCommentDlg" oncomplete="PF('UserViewCommentDialog').show()"/>
                        </p:panelGrid>



                        <h:outputText value="#{bundle.ViewUserLabel_phone}"/>
                        <h:outputText value="#{providerController.selected.phone}" title="#{bundle.ViewUserTitle_phone}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_email}"/>
                        <h:outputText value="#{providerController.selected.email}" title="#{bundle.ViewUserTitle_email}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_mobile}"/>
                        <h:outputText value="#{providerController.selected.mobile}" title="#{bundle.ViewUserTitle_mobile}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_createdAt}"/>
                        <h:outputText value="#{providerController.selected.createdAt}" title="#{bundle.ViewUserTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserLabel_updatedAt}"/>
                        <h:outputText value="#{providerController.selected.updatedAt}" title="#{bundle.ViewUserTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserLabel_id}"/>
                        <h:outputText value="#{providerController.selected.id}" title="#{bundle.ViewUserTitle_id}"/>
                        <h:outputLabel value="Address" />
                        <ui:repeat value="#{providerController.selected.address.toArray()}" var="item">
                            <span >#{item.address} ,</span><br/>
                        </ui:repeat>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PF('UserViewDialog').hide()" type="button"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
