<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/admin/ctgServices/List" value="Show All CtgServices Items"/>
        <br />
        <h:link outcome="/admin/documents/List" value="Show All Documents Items"/>
        <br />
        <h:link outcome="/admin/fullInfoUser/List" value="Show All FullInfoUser Items"/>
        <br />
        <h:link outcome="/admin/obligation/List" value="Show All Obligation Items"/>
        <br />
        <h:link outcome="/admin/order/List" value="Show All Order Items"/>
        <br />
        <h:link outcome="/admin/point/List" value="Show All Point Items"/>
        <br />
        <h:link outcome="/admin/question/List" value="Show All Question Items"/>
        <br />
        <h:link outcome="/admin/rate/List" value="Show All Rate Items"/>
        <br />
        <h:link outcome="/admin/services/List" value="Show All Services Items"/>
        <br />
        <h:link outcome="/admin/servicesProviders/List" value="Show All ServicesProviders Items"/>
        <br />
        <h:link outcome="/admin/user/List" value="Show All User Items"/>
        <br />
        <h:link outcome="/admin/userAddress/List" value="Show All UserAddress Items"/>
    </h:body>












</html>

