<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:menuitem value="دسته بندی سرویس ها" outcome="/admin/ctgServices/List.xhtml" icon="ui-icon-search" />
                        <p:menuitem value="مدارک" outcome="/admin/documents/List.xhtml" icon="ui-icon-arrow" />
                        <p:menuitem value="تعهد ها" outcome="/admin/obligation/List.xhtml" icon="ui-icon-home" />
                        <p:menuitem value="سفارش ها" outcome="/admin/order/List.xhtml" icon="ui-icon-home" />
                        <p:menuitem value="سوالات امتیاز دهی" outcome="/admin/question/List.xhtml" icon="ui-icon-home"/>
                        <p:menuitem value="سرویس ها" outcome="/admin/services/List.xhtml" icon="ui-icon-home" />
                        <p:menuitem value="زیر شاخه سرویس ها" outcome="/admin/subServices/List.xhtml" icon="ui-icon-home"/>
                        <p:menuitem value="کاربران" outcome="/admin/user/List.xhtml" icon="ui-icon-home"/>
                        <p:menuitem value="سرویس دهنده ها" outcome="/admin/Provider/List.xhtml" icon="ui-icon-home"/>
                        <p:menuitem value="آدرس های کاربران" outcome="/admin/userAddress/List.xhtml" icon="ui-icon-home"/>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>
            <p:confirmDialog global="true" showEffect="fade">
                <p:commandButton value="بله" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="خیر" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </p:layout>

    </h:body>

</html>
