<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrderEditDlg" widgetVar="OrderEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditOrderTitle}">
            <h:form id="OrderEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{orderController.selected != null}">
                        <p:outputLabel value="#{bundle.EditOrderLabel_address}" for="address" />
                        <p:inputText id="address" value="#{orderController.selected.address}" title="#{bundle.EditOrderTitle_address}" />
                        <p:outputLabel value="#{bundle.EditOrderLabel_area}" for="area" />
                        <p:inputText id="area" value="#{orderController.selected.area}" title="#{bundle.EditOrderTitle_area}" />
                        <p:outputLabel value="#{bundle.EditOrderLabel_date}" for="date" />
                        <p:inputText id="date" value="#{orderController.selected.date}" title="#{bundle.EditOrderTitle_date}" />
                        <p:outputLabel value="#{bundle.EditOrderLabel_ip}" for="ip" />
                        <p:inputText id="ip" value="#{orderController.selected.ip}" title="#{bundle.EditOrderTitle_ip}" />
                        <p:outputLabel value="#{bundle.EditOrderLabel_time}" for="time" />
                        <p:inputText id="time" value="#{orderController.selected.time}" title="#{bundle.EditOrderTitle_time}" />
                        <p:outputLabel value="#{bundle.EditOrderLabel_servicesId}" for="servicesId" />
                        <p:selectOneMenu id="servicesId" value="#{orderController.selected.servicesId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{servicesController.itemsAvailableSelectOne}"
                                           var="servicesIdItem"
                                           itemValue="#{servicesIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditOrderLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{orderController.selected.userId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditOrderLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{orderController.selected.createdAt}" title="#{bundle.EditOrderTitle_createdAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditOrderLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{orderController.selected.updatedAt}" title="#{bundle.EditOrderTitle_updatedAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditOrderLabel_id}" for="id" />
                        <p:inputText id="id" value="#{orderController.selected.id}" title="#{bundle.EditOrderTitle_id}" />
                        <p:outputLabel value="#{bundle.EditOrderLabel_deleted}" for="deleted" />
                        <p:inputText id="deleted" value="#{orderController.selected.deleted}" title="#{bundle.EditOrderTitle_deleted}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{orderController.update}" value="#{bundle.Save}" update="display,:OrderListForm:datalist,:growl" oncomplete="handleSubmit(args, 'OrderEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="OrderEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
