<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:adm="http://github.com/adminfaces"
      >

  <ui:composition template="#{layoutMB.layout}">
       
        <ui:define name="head-end">
            <style type="text/css">
                .ui-datatable .ui-datatable-header {
                    text-align: right !important;
                }

            </style>
        </ui:define>
        <ui:define name="title">
            Order listing
        </ui:define>

        <ui:define name="description">
            List all Order and create or edit
        </ui:define>
        <ui:define name="body">
            <p:growl id="growl" life="3000" />
            <adm:breadcrumb title="Order list"/>
            <div class="box box-primary">
                <div class="box-header with-border">
                    
                    <div id="main-buttons" class="hidden-sm hidden-xs">

                        <p:commandButton id="viewButton"   icon="fa fa-search"
                                         value="#{bundle.View}" 
                                         
                                         update=":OrderViewForm" oncomplete="PF('OrderViewDialog').show()" 
                                         disabled="#{empty orderController.selected}"
                                         styleClass="btn btn-info"/>
                        <p:spacer width="5"/>
                                            
                    </div>
            <h:form id="OrderListForm">
                <p:panel header="#{bundle.ListOrderTitle}">
                    <p:dataTable id="datalist" value="#{orderController.items}" var="item"
                                 selectionMode="single" selection="#{orderController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update=":viewButton"/>
                        <p:ajax event="rowUnselect" update=":viewButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_address}"/>
                            </f:facet>
                            <h:outputText value="#{item.address}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_area}"/>
                            </f:facet>
                            <h:outputText value="#{item.area}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_date}"/>
                            </f:facet>
                            <h:outputText value="#{item.date}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_ip}"/>
                            </f:facet>
                            <h:outputText value="#{item.ip}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_time}"/>
                            </f:facet>
                            <h:outputText value="#{item.time}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_servicesId}"/>
                            </f:facet>
                            <h:outputText value="#{item.subServices}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderTitle_deleted}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleted}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":OrderViewForm" oncomplete="PF('OrderViewDialog').show()" disabled="#{empty orderController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="View.xhtml"/>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
