<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrderViewDlg" widgetVar="OrderViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewOrderTitle}">
            <h:form id="OrderViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{orderController.selected != null}">
                        <h:outputText value="#{bundle.ViewOrderLabel_address}"/>
                        <h:outputText value="#{orderController.selected.address}" title="#{bundle.ViewOrderTitle_address}"/>
                        <h:outputText value="#{bundle.ViewOrderLabel_area}"/>
                        <h:outputText value="#{orderController.selected.area}" title="#{bundle.ViewOrderTitle_area}"/>
                        <h:outputText value="#{bundle.ViewOrderLabel_date}"/>
                        <h:outputText value="#{orderController.selected.date}" title="#{bundle.ViewOrderTitle_date}"/>
                        <h:outputText value="#{bundle.ViewOrderLabel_ip}"/>
                        <h:outputText value="#{orderController.selected.ip}" title="#{bundle.ViewOrderTitle_ip}"/>
                        <h:outputText value="#{bundle.ViewOrderLabel_time}"/>
                        <h:outputText value="#{orderController.selected.time}" title="#{bundle.ViewOrderTitle_time}"/>
                        <h:outputText value="#{bundle.ViewOrderLabel_servicesId}"/>
                        <h:outputText value="#{orderController.selected.servicesId}" title="#{bundle.ViewOrderTitle_servicesId}"/>
                        <h:outputText value="#{bundle.ViewOrderLabel_userId}"/>
                        <h:outputText value="#{orderController.selected.userId}" title="#{bundle.ViewOrderTitle_userId}"/>
                        <h:outputText value="#{bundle.ViewOrderLabel_createdAt}"/>
                        <h:outputText value="#{orderController.selected.createdAt}" title="#{bundle.ViewOrderTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewOrderLabel_updatedAt}"/>
                        <h:outputText value="#{orderController.selected.updatedAt}" title="#{bundle.ViewOrderTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewOrderLabel_id}"/>
                        <h:outputText value="#{orderController.selected.id}" title="#{bundle.ViewOrderTitle_id}"/>
                        <h:outputText value="#{bundle.ViewOrderLabel_deleted}"/>
                        <h:outputText value="#{orderController.selected.deleted}" title="#{bundle.ViewOrderTitle_deleted}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="OrderViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
