<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ObligationEditDlg" widgetVar="ObligationEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditObligationTitle}">
            <h:form id="ObligationEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{obligationController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateObligationLabel_services}" for="services" />
                        <p:selectOneMenu id="services" value="#{obligationController.selected.services}" required="true" requiredMessage="لطفا سرویس مورد نظر را انتخاب نمائید" >
                            <f:selectItems value="#{servicesController.itemsAvailableSelectOne}"
                                           var="servicesItem"
                                           itemLabel="#{servicesItem.title}"
                                           itemValue="#{servicesItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateObligationLabel_title}" for="title" />
                        <p:inputText id="title" value="#{obligationController.selected.title}" title="#{bundle.CreateObligationTitle_title}" required="true" requiredMessage="عنوان نمی تواند خالی باشد"/>
                        <p:outputLabel value="#{bundle.CreateObligationLabel_desc}" for="desc" />
                        <p:inputTextarea id="desc" value="#{obligationController.selected.desc}" title="#{bundle.CreateObligationTitle_desc}" required="true" requiredMessage="لطفا متن تعهد را وارد کنید" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{obligationController.update}" value="#{bundle.Save}" update="display,:ObligationListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ObligationEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ObligationEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
