<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ObligationViewDlg" widgetVar="ObligationViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewObligationTitle}">
            <h:form id="ObligationViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{obligationController.selected != null}">
                        <h:outputText value="#{bundle.ViewObligationLabel_services}"/>
                        <h:outputText value="#{obligationController.selected.services}" title="#{bundle.ViewObligationTitle_services}"/>
                        <h:outputText value="#{bundle.ViewObligationLabel_title}"/>
                        <h:outputText value="#{obligationController.selected.title}" title="#{bundle.ViewObligationTitle_title}"/>
                        <h:outputText value="#{bundle.ViewObligationLabel_desc}"/>
                        <h:outputText value="#{obligationController.selected.desc}" title="#{bundle.ViewObligationTitle_desc}"/>
                        <h:outputText value="#{bundle.ViewObligationLabel_createdAt}"/>
                        <h:outputText value="#{obligationController.selected.createdAt}" title="#{bundle.ViewObligationTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewObligationLabel_updatedAt}"/>
                        <h:outputText value="#{obligationController.selected.updatedAt}" title="#{bundle.ViewObligationTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewObligationLabel_id}"/>
                        <h:outputText value="#{obligationController.selected.id}" title="#{bundle.ViewObligationTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PF('ObligationViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
